.History{
    width: 91vw;
    height: 85vh;
    margin: 70px auto ;
}
.History h2{
    text-align: center;
}
.History p{
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    margin: 30px;
}
.mission{
    width: 35vw;
    height: auto;
    float: left;
    margin: 0 30px;
}
.mission h3{
    text-align: center;
}
.mission img{
    height: 20vh;
    width: 10vw;
    float: left;

}
.vission{
   width: 40vw;
   height: auto;
   float: right;
}
.vission h3{
    text-align: center;
}
.vission img{
    height: 20vh;
    width: 10vw;
    float: left;
}
@media screen and (max-width: 800px) {
    .History{
        width: 100%;
        height: auto;
    }
    .mission img,
    .vission img{
        width: 60%;
        margin: 3% 20%;
        float: none;
    }
    .mission,
    .vission {
      width: 100%; /* Ajuste del ancho para ocupar el 100% en pantallas más pequeñas */
      margin: 10px 0; /* Ajuste del margen superior e inferior en pantallas más pequeñas */
    }
  }