.industrial-cleaning{
    width: 91vw;
    height: 120vh;
    margin: 70px auto ;
}
.lec-industrial{
    width: 34vw;
    height: 50vh;
    line-height: 1.9;
    float: left;
    margin: 0 70px;
}
.img-industrial img{
    width: 40vw;
    height: 90vh;
    float: right;
    margin-top: 175px;
    margin-right: 70px;
    border-radius: 20px;
}