.initial-title{
    width: 91vw;
    height: 70vh;
    margin: 70px auto ;
    border-radius: 20px;
    overflow: hidden;
}

.title-img img{
    display: flex;
    width: 91vw;
    height: 70vh; 
    border-radius: 20px;
    filter: brightness(0.5);
}

.title-img h1{
    position: relative;
    bottom: 250px;
    left: 750px;
    font-size: 2em;
    font-weight: 700;
    color: #fff;
}
@media screen and (max-width: 800px) {
    .initial-title {
      height: auto;
      width: 100%; /* Ajuste del ancho para ocupar el 100% en pantallas m치s peque침as */
      margin: 15% 5%; /* Ajuste del margen superior e inferior en pantallas m치s peque침as */
    }
    .title-img h1 {
      font-size: 1.1em;

    }
  }