.request{
    width: 80%;
    height: 85vh;
    margin: 35px 140px;
    text-align: center;
    border-radius: 20px;
    border-top: 2px solid #000;
    overflow: hidden;
}
.request h1{
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}
.forms-user{
    height: 70%;
}
.user{
    margin: 45px 25px;
    display: inline-block;
    
}
.user input{
    float: left;
    background-color: #D9D9D9;
    width: 30vw;
    height: 7vh;
    border-radius: 10px;
    border: none;
    color: #000;
}
.email input{
    background-color: #D9D9D9;
    width: 64vw;
    height: 7vh;
    border-radius: 10px;
    border: none;
}
.text{
    display: flex;
    position: relative;
    width: 10vw;
    top: -35px;
    margin-left: 300px;
}
.text input{
    width: 2vw;
    height: 4vh;
    background-color: #D9D9D9;
    border-radius: 5px;
    border: none;
}
button{
    margin: 50px 727px 0 0;
    width: 150px;
    height: 50px;
    background-color: #6EB6FF;
    border-radius: 10px;
    color:#fff;
    font-weight: bold;
    font-size: 1em;
    border: none;
    outline: none;
}
@media screen and (max-width: 800px) {
    .request {
      width: 95%; /* Ajuste del ancho para ocupar el 95% en pantallas más pequeñas */
      margin: 35px auto; /* Centrado horizontal en pantallas más pequeñas */
    }
  
    .button {
      margin-top: 20px; /* Ajuste del margen superior en pantallas más pequeñas */
    }
  }
