.media-social{
    width: 90%;
    height: 65px;
    margin: 50px 65px;
}
.phone{
    display: inline-block;
    
}
.phone i{
    float: left;
    font-size: 1.5em;
    height: 50px;
    margin-right: 20px;
}
.phone p{
    float: left;
    font-size: 1.3em;
}
.social{
    float: right;
    font-size: 1.5em;
    margin-right: 20px;
}
.social{
    display: inline-block;
    
}
.social i{
    float: left;
    font-size: 1.5em;
    height: 50px;
    margin-right: 20px;
}
.social p{
    float: left;
    font-size: 1em;
}
@media screen and (max-width: 800px) {
    .media-social {
      flex-direction: column; /* Cambio a dirección de columna en pantallas más pequeñas */
      height: auto; /* Altura automática para adaptarse al contenido */
      align-items: flex-start; /* Alineación al inicio en pantallas más pequeñas */
      width: 80vw;
      margin: -100px auto;
      margin-bottom: 10%;
    }
    .phone p {
        margin-top: 5%;
        font-size: 0.7em; /* Ajuste del tamaño de fuente en pantallas más pequeñas */
    }
    .social{
        position: relative;
        width: 50vw;
        height: 3vh;
        left: 20%;
        bottom: 50px;
    }
    .social i{
        display: none;
    }
    .social p{
        font-size: .5em;
    }
  }