.media-social{
    width: 93%;
    height: 40px;
    margin: 50px;
}
.phone{
    display: inline-block;
    
}
.phone i{
    float: left;
    font-size: 1.5em;
    height: 5px;
    margin-right: 20px;
}
.phone p{
    float: left;
    font-size: 1.3em;
}
.social{
    float: right;
    font-size: 1.5em;
    margin-right: 20px;
}