@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

@import url('css/header.css');
@import url('css/slider-home.css');
@import url('css/social-media.css');
@import url('css/targets-service.css');
@import url('css/master-service.css');
@import url('css/request-form.css');
@import url('css/news.css');
@import url('css/footer.css');
@import url('css/initial-title.css');
@import url('css/about-title.css');
@import url('css/history-about.css');
@import url('css/blog-news.css');
@import url('css/i-cleaning.css');
@import url('css/get-in.css');
@import url('css/privacy-policy.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}




