.article-new {
    width: 100%;
    height: 97vh;
    background-image: url(../../assets/jeshoots-com-__ZMnefoI3k-unsplash.jpg);
    background-size: cover;
    background: #304654;  
    background: -webkit-linear-gradient(to left, #26a0da, #314755); 
    background: linear-gradient(to left, #26a0da, #314755);
    overflow: hidden; 
}
.info-new{
    width: 100%;
    height: 65%;
    overflow: hidden;
}
.info-new h1{
    color: #fff;
    margin: 250px 150px;
    font-size: 2em;
}
.info-new label{
    position: relative;
    font-size: 1em;
    color: #4990d8;
    margin-left: 11%;
    bottom: 250px;
}
.info-new p{
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 75%;
    bottom: 200px;
    margin-left: 150px;
}
@media screen and (max-width: 800px){
    .article-new{
        width: 100%;
    }
    .info-new{
        height: 85vh;
    }
    .info-new h1{
        width: 100%;
        margin-left: 2px;
        font-size: 1.4em;
        text-align: center;
    }
    .info-new label{
        margin-left: 120px;
    }
    .info-new p{
        font-size: 1em;
        margin-left: 60px;
    }
}
