.covid-service{

    width: 85%;
    height: auto;
    margin-left: 7.5%;
    margin-top: 45%;
    margin-bottom: 5%;
}
.covid-service p{
    line-height: 2em;
    width: 95%;
    margin-left: 2%;
}
@media screen and (max-width: 800px){
    .covid-service{
        height: auto;
    }
}