.information-service{
    width: 85%;
    height: 70vh;
    margin-left: 7.5%;
}
.parrafo-info{
    width: 40%;
    height: 100%;
    float: left;
    margin: 30px;
}
.img-info img{
    height: 100%;
    width: 40%;
    border-radius: 10px;
    float: right;
    margin-right: 70px;
}