.information-service{
    width: 85%;
    height: 80vh;
    margin-left: 7.5%;
}
.parrafo-info{
    width: 40%;
    line-height: 2em;
    height: 87%;
    float: left;
    margin: 30px;
}
.img-info img{
    height: 75vh;
    width: 40%;
    border-radius: 10px;
    float: right;
    margin-right: 70px;
    margin-top: 2%;
}