.information-service{
    width: 85%;
    height: auto;
    margin-left: 7.5%;
}
.parrafo-info{
    width: 40%;
    line-height: 2em;
    height: auto;
    float: left;
    margin: 30px;
}
.img-info img{
    height: 75vh;
    width: 40%;
    border-radius: 10px;
    float: right;
    margin-right: 70px;
    margin-top: 2%;
}
.parrafo-sig{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 49%;
}
.parrafo-sig .p-1{
    margin-left: 2.5%;
    line-height: 2em;
    width: 92%;
}
 .parrafo-2{
    text-align: center;
    width: 92%;
    margin-top: 2%;
    margin-left: 2.5%;
}
@media screen and (max-width: 800px) {
    .information-service{
        width: 100%;
        height: auto;
        margin: 0 auto;
    } 
    .img-info img{
        display: none;
    }
    .parrafo-info{
        width: 85%;
    }
}